@media (min-width: 769px) {
  .T .score-card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 20vw;
    background-color: #777;
    border-top-left-radius: 20%;
    margin-bottom: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
  }

  .T .score-card-container:hover {
    box-shadow: 0 14px 28px rgba(19, 18, 18, 0.34),
      0 10px 10px rgba(21, 20, 20, 0.24);
  }

  .T .score-card-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vw;
    padding-right: 2vw;
  }

  .T .score-button {
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 15vw;
    transition: 0.4s;
    height: 0;
    background-color: #ccc;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.6vw;
    font-weight: bold;
  }

  .T .text {
    width: 100%;
    text-align: center;
    font-size: 1.1vw;
    font-weight: bold;
  }

  .T a {
    font-size: 1.1vw;
    font-weight: bold;
    color: #660033;
  }

  .T .score-card-container:hover .score-button {
    opacity: 1;
    background-color: #ccc;
    height: 12vw;
  }

  .T .score-image {
    display: flex;
    width: 15vw;
    position: relative;
    border-top-left-radius: 20%;
    filter: grayscale(100%);
  }
}

@media (max-width: 768px) {
  .T .score-card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 40vw;
    background-color: #777;
    border-top-left-radius: 20%;
    margin-bottom: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
  }

  .T .score-card-container:hover {
    box-shadow: 0 14px 28px rgba(19, 18, 18, 0.34),
      0 10px 10px rgba(21, 20, 20, 0.24);
  }

  .T .score-card-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20vw;
    padding-right: 2vw;
  }

  .T .score-button {
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 35vw;
    transition: 0.4s;
    height: 0;
    background-color: #ccc;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.6vw;
    font-weight: bold;
  }

  .T .text {
    font-size: 2vw;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  .T a {
    font-size: 2vw;
    font-weight: bold;
    color: #660033;
  }

  .T .score-card-container:hover .score-button {
    opacity: 1;
    background-color: #ccc;
    height: 13vw;
  }

  .T .score-image {
    display: flex;
    width: 35vw;
    position: relative;
    filter: grayscale(100%);
    border-top-left-radius: 20%;
  }
}
