<div class="score-card-container">
  <div class="score-card-title">
    {{name}}
  </div>
  <div>
    <img class="score-image score-card-link-{{className}}" src="{{scoreCardImage}}" alt="image">
  </div>
  <div class="score-card-info-container-{{className}}">
    <div class="score-button">
      <div class="text">{{author}}</div>
      <div class="text">{{pictureName}}</div>
      <div class="text">{{year}}</div>
      <a href="{{scoreCardImageFull}}" target="_blank">Скачать</a>
    </div>
  </div>
</div>