<div class="screen questions">
  <div class="questions-header">
    <button class="return-home-questions">В начало</button>
    <div class="game-question">{{question}}</div>
    <button class="return-categories-questions">Категории</button>
  </div>
  <div class="answers-buttons">
  </div>
  <div class="answer-popup"></div>
  <div class="timer"></div>
  <div class="answer-bullets">
    <div class="answer-bullet0"></div>
    <div class="answer-bullet1"></div>
    <div class="answer-bullet2"></div>
    <div class="answer-bullet3"></div>
    <div class="answer-bullet4"></div>
    <div class="answer-bullet5"></div>
    <div class="answer-bullet6"></div>
    <div class="answer-bullet7"></div>
    <div class="answer-bullet8"></div>
    <div class="answer-bullet9"></div>
  </div>
</div>