.T .settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.T .settings input {
  width: 15vw;
  height: 3vw;
  font-size: 2vw;
}

.T .container-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 22vw;
  height: 30vw;
  margin: 3vw;
  background-color: white;
  box-shadow: 0 14px 28px rgba(19, 18, 18, 0.34),
    0 10px 10px rgba(21, 20, 20, 0.24);
}

.T .container-image img {
  width: 10vw;
}

.T .container-sound-time {
  display: flex;
}
