@media (min-width: 769px) {
  .T .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 23vw;
    background-color: #777;
    border-top-left-radius: 20%;
    margin-bottom: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
    cursor: pointer;
  }

  .T .card:hover {
    box-shadow: 0 14px 28px rgba(19, 18, 18, 0.34),
      0 10px 10px rgba(21, 20, 20, 0.24);
  }

  .T .card-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vw;
    padding-right: 2vw;
  }

  .T .score-button {
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 0;
    transition: 0.4s;
    display: block !important;
  }

  .T .card:hover .score-button {
    opacity: 1;
    height: 5vw;
  }

  .T .card:focus .score-button {
    opacity: 1;
    height: 5vw;
  }

  .T .question-button img {
    filter: grayscale(100%);
  }

  .T .question-button {
    position: relative;
    height: 18vw;
  }
  .T .question-progress {
    position: absolute;
    top: 1vw;
    left: 1vw;
  }

  .T .card img {
    width: 18vw;
    border-top-left-radius: 20%;
  }
  .T .card button {
    width: 18vw;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@media (max-width: 768px) {
  .T .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 40vw;
    background-color: #777;
    border-top-left-radius: 20%;
    margin-bottom: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
    cursor: pointer;
  }

  .T .card:hover {
    box-shadow: 0 14px 28px rgba(19, 18, 18, 0.34),
      0 10px 10px rgba(21, 20, 20, 0.24);
  }

  .T .card-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vw;
    padding-right: 2vw;
  }

  .T .score-button {
    height: 6vw;
    position: absolute;
    bottom: 0;
  }

  .T .question-button img {
    filter: grayscale(100%);
  }

  .T .question-button {
    position: relative;
    height: 18vw;
  }
  .T .question-progress {
    position: absolute;
    top: 3vw;
    left: 3vw;
  }

  .T .card img {
    width: 35vw;
    border-top-left-radius: 20%;
  }
  .T .card button {
    width: 35vw;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
